{% set onload = "loadPage()" %} {% extends '_template.html' %} {% block content
%}
<style>
  body {
    background-color: rgba(0, 0, 0, 0.4);
  }
  #container {
    background-color: unset;
  }
  #chart {
    filter: blur(5px);
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>No data found for current filter</p>
  </div>
</div>
<div>
  <div id="top">
    <div id="header">
      <header class="title">
        <h1><span class="logo">///</span> STS-1</h1>
      </header>
      <div class="menu">
        <nav>
          <ul>
            <li>
              <a href="#logout" title="Logout" onClick="logout(); return false;"
                >Logout</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ul id="attribute" class="options">
      <span>Attribute</span>
    </ul>
    <ul id="duration" class="options">
      <span>Duration</span>
    </ul>
    <ul id="type" class="options">
      <span>Type</span>
    </ul>
    <ul id="limit" class="options">
      <span>Limit</span>
    </ul>
  </div>
  <div id="chart">
    <canvas id="myChart"></canvas>
  </div>
  <div id="peaks-list">
    <ul id="peaks"></ul>
  </div>
</div>
<script>
  Chart.defaults.global.defaultFontFamily = "Inconsolata";
  Chart.defaults.global.defaultFontSize = 14;
  Chart.defaults.global.defaultFontColor = "#2e3440";
  Chart.defaults.global.legend.display = false;
  var STRAVA_CLIENT_ID = "m7ci5ov0flhjlc8k4urqdknsp";
  var modal = document.getElementById("myModal");
  var body = document.getElementsByTagName('body')[0];
  var peaksList = document.getElementById("peaks-list");
  var chartContainer = document.getElementById("chart")

  var url = "";
  if (STAGE === "prod") {
    url = "/api/graph";
  } else {
    url = "/" + STAGE + "/api/graph";
  }
  var xhr = new XMLHttpRequest();

  var fetchData = function (queryString) {
    xhr.open("GET", url + "?" + queryString);
    xhr.setRequestHeader(
      "Authorization",
      "bearer " + localStorage.getItem("Authorization")
    );
    xhr.send();
  };

  var span = document.getElementsByClassName("close")[0];
  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };

  var logout = function (event) {
    console.log("clicked logout", event);
    var params = {
      client_id: USER_POOL_CLIENT_ID,
    };
    var url =
      COGNITO_URL +
      "/logout" +
      "?" +
      new URLSearchParams(params) +
      "&logout_uri=" +
      CALLBACK_URL +
      "/logout";
    console.log("redirecting to " + url);
    window.location.replace(url);
  };

  var menuClickEvent = function (event, menuId) {
    myChart.data.datasets = [];
    myChart.update();
    body.style.background = "rgba(0, 0, 0, 0.4)";
    peaksList.style.filter = "blur(5px)";
    chartContainer.style.filter = "blur(5px)";
    var urlParams = new URLSearchParams(window.location.search);
    var menuValue = event.target.attributes.getNamedItem("data-value").value;
    urlParams.set(menuId, menuValue);

    if (STAGE !== "prod") {
      window.history.replaceState(
        "blah",
        "test",
        "/" + STAGE + "/athlete?" + urlParams.toString()
      );
    } else {
      window.history.replaceState(
        "blah",
        "test",
        "/athlete?" + urlParams.toString()
      );
    }

    document.querySelectorAll("#" + menuId + " li a").forEach(function (elem) {
      if (elem.getAttribute("data-value") == urlParams.get(menuId)) {
        elem.classList.add("active");
      } else {
        elem.classList.remove("active");
      }
    });
    fetchData(urlParams.toString());
    event.preventDefault();
  };

  var initializeMenuItem = function (menuItem, menuId, dataValue) {
    var limitMenu = document.getElementById(menuId);
    var listItem = document.importNode(menuItem, true);
    var link = listItem.querySelector("a");
    link.setAttribute("data-value", dataValue);
    link.textContent = dataValue;

    link.addEventListener("click", function (event) {
      menuClickEvent(event, menuId);
    });
    var urlParams = new URLSearchParams(window.location.search);

    if (dataValue == urlParams.get(menuId)) {
      link.classList.add("active");
    }
    link.href = "athlete?" + urlParams.toString();
    limitMenu.appendChild(listItem);
  };

  var loadPage = function () {
    var urlParams = new URLSearchParams(window.location.search);
    if (!localStorage.getItem("Authorization")) {
      var params = {
        response_type: "token",
        client_id: USER_POOL_CLIENT_ID,
        redirect_uri: CALLBACK_URL,
      };
      window.location.replace(
        COGNITO_LOGIN_URL + "?" + new URLSearchParams(params)
      );
    }
    var limits = [10, 25, 50, 100];
    var attributes = ["heartrate", "watts", "velocity_smooth"];
    var durations = [5, 60, 300, 600, 1200, 3600, 5400];
    var types = ["Rowing", "Ride", "VirtualRide", "Run"];

    if (!urlParams.get("limit")) {
      urlParams.set("limit", 10);
    }

    if (!urlParams.get("attribute")) {
      urlParams.set("attribute", "watts");
    }

    if (!urlParams.get("duration")) {
      urlParams.set("duration", "300");
    }

    if (!urlParams.get("type")) {
      urlParams.set("type", "Ride");
    }
    fetchData(urlParams.toString());

    if (STAGE === "prod") {
      window.history.replaceState(
        "blah",
        "test",
        "/athlete?" + urlParams.toString()
      );
    } else {
      window.history.replaceState(
        "blah",
        "test",
        "/" + STAGE + "/athlete?" + urlParams.toString()
      );
    }

    var temp = document.getElementById("menu-template");
    var menuItem = temp.content.querySelector("li");
    var limitMenu = document.getElementById("limit");

    attributes.forEach(function (a) {
      initializeMenuItem(menuItem, "attribute", a);
    });

    durations.forEach(function (a) {
      initializeMenuItem(menuItem, "duration", a);
    });

    types.forEach(function (a) {
      initializeMenuItem(menuItem, "type", a);
    });

    limits.forEach(function (a) {
      initializeMenuItem(menuItem, "limit", a);
    });
  };

  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "line",
    options: {
      maintainAspectRatio: false,
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data) {
            var dataPoint =
              data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var activeElements = document.getElementsByClassName("my-class");
            for (i = 0; i < activeElements.length; i++) {
              activeElements[i].classList.remove("my-class");
            }
            var activityKey = "activity-" + dataPoint.activityId;
            location.hash = activityKey;
            var activityElem = document.getElementById(activityKey);
            if (activityElem) {
              activityElem.classList.add("my-class");
            }
            return dataPoint.title;
          },
        },
      },
      scales: {
        xAxes: [
          {
            type: "time",
            distribution: "linear",
            time: {
              unit: "year",
            },
            bounds: "ticks",
          },
        ],
      },
    },
  });

  var loadChartData = function (peaksData) {
    myChart.data.datasets = [];
    myChart.data.datasets.push({
      data: [],
      pointRadius: 4,
      hoverRadius: 8,
      hoverBorderWidth: 4,
      pointBackgroundColor: "#D8DEE9",
      pointBorderColor: "#2e3440",
      fill: false,
      showLine: false,
    });

    peaksData.forEach(function (peak) {
      myChart.data.datasets[0].data.push({
        x: moment(peak.start_date_local),
        y: peak.value,
        title: peak.name + "(" + parseFloat(peak.value).toFixed(2) + ")",
        activityId: peak.activity_id,
      });
    });

    myChart.update();
  };

  xhr.onload = function (e) {
    if (xhr.status === 403) {
      var params = {
        response_type: "token",
        client_id: USER_POOL_CLIENT_ID,
        redirect_uri: CALLBACK_URL,
      };
      window.location.replace(
        COGNITO_LOGIN_URL + "?" + new URLSearchParams(params)
      );
    } else {
      body.style.background = "whitesmoke";
      peaksList.style.filter = "unset";
      chartContainer.style.filter = "unset";

      var peaksData = JSON.parse(xhr.responseText);
      if (peaksData.length === 0) {
        modal.style.display = "block";
        setTimeout(function () {
          modal.style.display = "none";
        }, 3000);
        console.log("no data found");
      }
      var temp = document.getElementById("activity-template");
      var item = temp.content.querySelector("li");
      //get the div element from the template:
      var peakList = document.querySelector("#peaks");
      peakList.innerHTML = "";

      //for each item in the array:
      loadChartData(peaksData);

      var count = 1;
      peaksData.forEach(function (peak) {
        var a = document.importNode(item, true);
        a.id += peak.activity_id;
        a.querySelector(".position").textContent = count;

        var val = a.querySelector(".value");
        val.textContent = parseFloat(peak.value).toFixed(2);
        if (peak.attribute === "heartrate") {
          val.textContent += " bpm";
        } else if (peak.attribute === "watts") {
          val.textContent += " watts";
        } else if (peak.attribute === "velocity_smooth") {
          val.textContent += " mph";
        }

        var link = a.querySelector("a");
        link.textContent = peak.name;
        link.href += peak.activity_id;
        a.querySelector(".date").textContent = peak.start_date_local;
        peakList.appendChild(a);
        count++;
      });
    }
  };
</script>
{% endblock %}
