{% set onload = "" %} {% extends '_template.html' %} {% block content %}
<div class="typewriter">
  <h1 id="demo"></h1>
</div>

<style>
  body {
    background-color: black !important;
    background-image: none !important;
  }
  #container {
    background-color: black !important;
    border: none !important;
    filter: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: none !important;
  }
</style>
<script>
  function typeWriter() {
    if (i < txt.length) {
      document.getElementById("demo").innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    } else {
      i = 0;
      document.getElementById("demo").innerHTML = "";
      setTimeout(typeWriter, speed);
    }
  }
  var i = 0;
  var txt = "///";
  var speed = 400;
  var xhr = new XMLHttpRequest();
  var url = "";
  if (STAGE === "prod") {
    url = "/profile";
  } else {
    url = "/" + STAGE + "/profile";
  }
  console.log("localStorage", localStorage);
  typeWriter();

  var getProfile = function () {
    xhr.open("GET", url);
    xhr.setRequestHeader(
      "Authorization",
      "bearer " + localStorage.getItem("Authorization")
    );
    xhr.send();
  };

  (function () {
    if (window.location.hash) {
      // use urlparams here
      var lochash = window.location.hash.substr(1);
      console.log("lochash", lochash);

      localStorage.setItem(
        "Authorization",
        lochash.split("&")[0].split("=")[1]
      );
      getProfile();
    }

    if (localStorage.getItem("Authorization")) {
      getProfile();
    } else {
      var params = {
        response_type: "token",
        client_id: USER_POOL_CLIENT_ID,
        redirect_uri: CALLBACK_URL,
      };
      window.location.replace(
        COGNITO_LOGIN_URL + "?" + new URLSearchParams(params)
      );
    }
  })();

  var onLoad = function (e) {
    console.log(xhr);
    if (xhr.status === 403) {
      var params = {
        response_type: "token",
        client_id: USER_POOL_CLIENT_ID,
        redirect_uri: CALLBACK_URL,
      };
      window.location.replace(
        COGNITO_LOGIN_URL + "?" + new URLSearchParams(params)
      );
    } else if (xhr.responseText) {
      res = JSON.parse(xhr.responseText);

      var redirectUrl = "";
      if (STAGE !== "prod") {
        redirectUrl += "/" + STAGE;
      }
      if (!res.hasStravaAuth) {
        redirectUrl += "/strava-auth";
      } else {
        console.log("strava has been authorized!");
        redirectUrl += "/athlete";
      }
      window.location.replace(redirectUrl);
    }
  };

  xhr.onload = function () {
    onLoad();
  };
</script>
{% endblock %}
