{% set onload = "saveCode()" %} {% extends '_template.html' %} {% block content
%}
<script>
  const xhr = new XMLHttpRequest();
  const apiUrl = CALLBACK_URL + "strava-authorized";

  var saveCode = function () {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("code") && localStorage.getItem("Authorization")) {
      console.log("code", urlParams.get("code"));
      xhr.open("POST", apiUrl);
      xhr.setRequestHeader(
        "Authorization",
        "bearer " + localStorage.getItem("Authorization")
      );
      var body = JSON.stringify({ code: urlParams.get("code") });
      console.log(body);
      xhr.send(body);
    }
  };

  xhr.onload = function () {
    if (xhr.status === 200) {
      console.log("strava authorized --> redirect to main page");
      window.location.replace(CALLBACK_URL);
    }
  };
</script>
<h1>Strava callback</h1>
{% endblock %}
